#wrapper {
    font-family: "DM Sans", sans-serif;
    font-size: small;
    width:75%;
    text-align: center;
    margin: auto;

}

.button {
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

.replay-button {
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: crimson;
    border-radius: 15px;
    border-style: solid;
    border-color: crimson;
}

p {
    font-family: "DM Sans", sans-serif;
    width:60%;
    text-align: center;
    margin: auto;

}

ol {
    font-family: "DM Sans", sans-serif;
    width:36%;
    font-size:14px;
    text-align: left;
    margin: auto;

}

h2 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: auto;

}

h4 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: auto;

}