#wrapper {
    font-family: "DM Sans", sans-serif;
    width:75%;
    text-align: center;
    margin: auto;

}

#wrapper2 {
    font-family: "DM Sans", sans-serif;
    width:75%;
    text-align: center;
    margin: auto;

}

.button {
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

p {
    font-family: "DM Sans", sans-serif;
    width:60%;
    text-align: center;
    margin: auto;

}

h2 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: auto;

}

h4 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    margin: auto;

}